---
import Social from "../atoms/Social.astro";

const platform = "github";
const username = "KensukeOta";
---

<footer>
  <p>
    私のプロジェクトについて詳しくは<a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >をご確認ください！
  </p>
  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="KensukeOta" />
  <Social platform="youtube" username="astrodotbuild" />
</footer>
