---
import Navigation from "../molecules/Navigation.astro";
import Hamburger from "../molecules/Hamburger.astro";
import ThemeIcon from "../atoms/ThemeIcon.astro";
---

<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
