---
import Navigation from "../molecules/Navigation.svelte";
import HambergerMenu from "../organisms/HamburgerMenu.svelte"
import ThemeIcon from "../atoms/ThemeIcon.astro";
---

<header>
  <nav>
    <HambergerMenu client:load />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
